@model FoodsShop.Models.AccountModels.UserPasswordViewModel

@{
    ViewBag.Title = "EditUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span10 offset2">
    <h2>Edit password</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="error-box">
            @Html.ValidationSummary()
        </div>
        <fieldset>
            <legend></legend>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            @Html.LabelFor(m => m.ConfirmNewPassword)
            @Html.PasswordFor(m => m.ConfirmNewPassword)
            <div>
                <input type="submit" value="Edit password" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>
